.elementos-display{
  display: grid;
  grid-template-columns: 100px .9fr;
  font-size: 20px;
  justify-content: center;
  background-color: black;
  h1{
    color: white
  }
  ul{
    grid-column: -1;
    color: aqua;
  }
  
  }
