<app-header></app-header>
<app-form></app-form>
<app-tarjeta></app-tarjeta>

<hr>
<!--<app-repaso></app-repaso>-->
<!--<div>-->
<!--<h1> Hola Mundo</h1>-->
<!--<span>Span fuera</span>-->
<!--<p>-->
<!--  <span>Span dentro</span>-->
<!--</p>-->
<!--</div>-->


<!--<section>-->

<!--  <h1>Hola mundo 2</h1>-->
<!--</section>-->

<!--<div id="contenedor1">-->
<!--  <p>-->
<!--    <span>Lorem ipsum</span> dolor sit amet, consectetur adipisicing elit. Ab blanditiis distinctio facilis labore magnam porro quaerat quam quia quisquam veritatis. Corporis cum distinctio exercitationem, expedita illo rerum sint sit temporibus?-->
<!--  </p>-->
<!--</div>-->

<!--<div id="contenedor2">-->
<!--  <p>-->
<!--    <span>Lorem ipsum</span> dolor sit amet, consectetur adipisicing elit. Dignissimos eius enim repudiandae sit ut. Accusamus accusantium adipisci consequuntur cumque esse ex laudantium molestiae provident quis quo, ratione reprehenderit tenetur veritatis?-->
<!--  </p>-->
<!--</div>-->

<!--<app-footer></app-footer>-->

<!--<app-repaso></app-repaso>-->
