<h1>Solo 1 h1 {{nombre}}</h1>

<h2>Primer h2{{edad}}</h2>
<h2>Segundo h2</h2>
<h2>Tercer h2</h2>

<h3>Primer h3</h3>


<header>
  Aqui el logo
  <br>
  Menu (Tendremos el bocadillo -lista - del menu)
</header>

<h3>Segundo h3</h3>
<h3 class="{{(cambioColor == true) ? 'blue' : 'red'}}">Tercer h3</h3>

<button type="button" (click)="toggleColor()">Cambiar</button>

<br>
<h2 
class="{{escondeAlgo ? 'esconder' : ''}}">
  HOLAAAAAAAAAAAAAAAAAAAAAAA</h2>
<button type="button" (click)="ocultarAlgo()">Ocultar</button>

<div *ngIf="escondeAlgo == false">
  esto es un contenedor de algo Y ME VOY A ESCONDER SI LE DAS AL BOTON OCULTAR
</div>

<br>

<hr>

<p>For del arreglo elementos</p>
<div *ngIf="elementos.length > 0">
  <p *ngFor="let elemento of elementos">
    {{elemento}}
  </p>
</div>

<hr>

<p>FOR del arreglo de la interface Elementos</p>
<div *ngIf="elementos2.length > 0">
  <p *ngFor="let elemento of elementos2; let i = index">
    <span>{{elemento.id}}</span> - 
    <span>{{elemento.nombre}}</span> , index:   
    <span>{{i}}</span>
  </p>
</div>

<hr>




<footer>
  Aqui el contenido <span>legal</span>, informacion de la aplicacion que no es relevante
  <br>
  elemento : copyright y quien diseño la app o la version de la app
</footer>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur in laboriosam libero praesentium quia quidem similique soluta tempore vitae voluptatem. Aliquid, blanditiis deleniti eaque exercitationem modi nobis quisquam reprehenderit sit.
</p>

<br>

<p>
<span style="font-weight: bold">Lorem ipsum, es como una referencia en concreto </span>
  dolor sit amet, <b>consectetur adipisicing elit</b>. Esse in <i>ipsam</i> ipsum iure non, <strong>nulla quia rem repellat</strong> rerum similique sunt vero? <u>Ab aliquid cumque</u>, dolor <sup>eveniet</sup> hic sapiente <sub>totam</sub>.
</p>

<br>
<main>
  <section>
    apartado de cada aplicacion
  </section>
  <section> imagen principal</section>
  <section> carrusel de imagenes</section>
  <section> formulario de contacto</section>
  <section> formulario de login</section>
</main>

<br>

<form method="post" action="a donde se envia" enctype="solo si el usuario va a enviar archivo">
    aqui va el contenido del formulario
  <div>
    <label for="username">Usuario </label>
    <input type="text" id ="username" name="usuario" placeholder="pon tu nombre perro" value="Rodrigo" autocomplete="on" required>
  </div>
  <div>
    <label for="password">Contraseña </label>
    <input type="password" id ="password" name="password" placeholder="pon tu contraseña perro" value="" autocomplete="on" required>
  </div>
<div>
    <label for="rol">Rol </label>
    <select id="rol" name="rol" required>
      <option value="estudiante" selected>Estudiante</option>
      <option value="profesor">Profesor</option>
    </select>
  </div>

  <div>
    Selecciona el curso:
    <input type="radio" id="primerCurso" name="cursos" checked><label for="primerCurso">Primer curso</label>
    <input type="radio" id="segundoCurso" name="cursos"><label for="segundoCurso">Segundo curso</label>
  </div>
<div>
    Asignaturas:
    <input type="checkbox" id="datos" name="subjects" required><label for="datos">Acceso a Datos</label>
    <input type="checkbox" id="interfaces" name="subjects"><label for="datos">Desarrollo de Interfaces</label>
  </div>

  <div>
    <label for="message">Mensaje </label>
    <textarea placeholder="escribe aqui lo que quieras ... perrro" id="message" required></textarea>
  </div>

  <div>
    <button type="submit">Enviar</button>
  </div>

</form>

<hr>

<ul>
  <li>Primer Elemento</li>
  <li>Segundo Elemento</li>
  <li>Tercer Elemento</li>
</ul>

<ol class="margin-bottom">
  <li>Primer elemento or</li>
  <li>Segundo elemento or</li>
</ol>

<div class="contenedor-100">
  <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F0%2F0f%2FGrosser_Panda.JPG&f=1&nofb=1&ipt=56a726c221ad4b9fd3f1f906fee17d79c6d181db4e194a4cc259ee7cd8280eba&ipo=images" alt>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi aut consectetur consequuntur fugit in itaque libero non pariatur provident quaerat quasi qui ratione reiciendis similique sunt vel veniam, voluptatibus!
    </p>
  </div>

</div>

<div class="social">

</div>


<div class ="elementos-display">
  <p>loren ipsum</p>
  <p>loren ipsum</p>
  <p>loren ipsum</p>
</div>

<div class="elementos-flex">
  <p class="primero-p">Primer p</p>
  <p class="segundo-p">Segundo p</p>
</div>
